.Container {
	margin-left: 30px;
	margin-top: 20px;
}

.PageTitle {
	color: #627c81;
	font-weight: normal;
}

.List {
	color: #666;
	padding-right: 8px;
}

.List-item::before {
	color: #eb9706;
	padding-right: 8px;
}

.List-item--circle::before {
	content: "\2022";	
}

.List-item--arrow::before {
	content: "\2192";
}

.ParagraphTitle {
	color: #eb9706;
	font-weight: bolder;
	padding-top: 10px;
	padding-bottom: 5px;
}

.ParagraphText {
	color: #666;
}

.MoreText {
	cursor: pointer;
	text-decoration: underline;
	color: #627c81;
}

.u-displayNone {
	display: none;
}
